<div class="slds-form-element">
  <label class="slds-form-element__label" for="combobox-id-58" id="combobox-label-id-130" *ngIf="vlabel">{{vlabel}}</label>
  <div class="slds-form-element__control">
    <div class="slds-combobox_container">
      <div [class]="'slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click '+vclass">
        <div  class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox"  tabindex="0" aria-busy="false" *ngIf="position=='top'">
          <ul class="slds-listbox slds-listbox_vertical" role="presentation">
            <li role="presentation" class="slds-listbox__item" *ngFor="let option of _voptions TrackBy:trackItem" (click)="doclick(option)" style="width:100%;">
              <div [id]="option.label+''+ckey" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                role="option" (click)="doclick(option)">
                <span class="slds-media__figure slds-listbox__option-icon" *ngIf="option.value==vvalue">
                  <span class="slds-icon_container slds-icon-utility-check slds-current-color">
                    <!-- <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                      <use xlink:href="/money-app/assets/icons/utility-sprite/svg/symbols.svg#check , /assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                    </svg> -->
                    <app-v-icon vclass="slds-icon slds-icon_small" vhref="/assets/icons/utility-sprite/svg/symbols.svg#check"></app-v-icon>

                  </span>
                </span>
                <span class="slds-media__body" (click)="doclick(option)">
                  <span class="slds-truncate" title="Accounts" (click)="doclick(option)">{{option.label}}</span>
                </span>
              </div>
            </li>

          </ul>
        </div>
        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
          <div role="combobox" tabindex="0" class="slds-input_faux slds-combobox__input"
            aria-labelledby="combobox-label-id-130 combobox-id-58-selected-value" id="combobox-id-58-selected-value"
            aria-controls="listbox-id-28" aria-expanded="false" aria-haspopup="listbox" (focus)="dofocus()" (focusout)="dofocusout()">
            <span class="slds-truncate" id="combobox-value-id-95">{{selectedOption || 'select Option'}}</span>
          </div>
          <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
            <!-- <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
            </svg> -->
            <app-v-icon vclass="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" vhref="/assets/icons/utility-sprite/svg/symbols.svg#down"></app-v-icon>

          </span>
        </div>
        <div  class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox"  tabindex="0" aria-busy="false" *ngIf="position=='bottom'">
          <ul class="slds-listbox slds-listbox_vertical" role="presentation">
            <li role="presentation" class="slds-listbox__item" *ngFor="let option of _voptions TrackBy:trackItem" (click)="doclick(option)" style="width:100%;">
              <div [id]="option.label+''+ckey" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                role="option" (click)="doclick(option)">
                <span class="slds-media__figure slds-listbox__option-icon" *ngIf="option.value==vvalue">
                  <span class="slds-icon_container slds-icon-utility-check slds-current-color">
                    <app-v-icon vclass="slds-icon slds-icon_x-small" vhref="/assets/icons/utility-sprite/svg/symbols.svg#check"></app-v-icon>
                    <!-- <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                      <use xlink:href="/money-app/assets/icons/utility-sprite/svg/symbols.svg#check , /assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                    </svg> -->
                  </span>
                </span>
                <span class="slds-media__body" (click)="doclick(option)">
                  <span class="slds-truncate" title="Accounts" (click)="doclick(option)">{{option.label}}</span>
                </span>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
