<article class="slds-card">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">

      <!-- <div class="slds-media__body slds-text-align_center">
        <h2 class="slds-card__header-title">
          <a href="#" class="slds-card__header-link slds-truncate slds-text-heading_large"  title="Accounts">
            <span>List of users ({{users.length}})</span>
          </a>
        </h2>
      </div> -->
    </header>
  </div>
  <div class="slds-card__body slds-card__body_inner">
    <div class="slds-tabs_default">
      <ul class="slds-tabs_default__nav" role="tablist">
        <li [class]="'slds-tabs_default__item ' +((tab.id==activetab)?' slds-is-active ':'') " title="Item One" role="presentation" *ngFor="let tab of tabConfigs trackBy: trackItem" (click)="activetab=tab.id;">
          <a class="slds-tabs_default__link"  role="tab" tabindex="0" aria-selected="true" [attr.aria-controls]="tab.id" [id]="tab.id+'__item'" (click)="activetab=tab.id;">{{tab.title}}</a>
        </li>
      </ul>
      <div [id]="tab.id" [class]="'slds-tabs_default__content '+((tab.id==activetab)?' slds-show ':'slds-hide')" role="tabpanel" [attr.aria-labelledby]="tab.id+'__item'" *ngFor="let tab of tabConfigs trackBy: trackItem">
        <app-users-list-view *ngIf="hasusers" [title]="tab.listTitle" [filterCallback]="tab.callback"></app-users-list-view>
      </div>

    </div>
  </div>
</article>
