<div [class]="(asc)?'slds-is-sorted_asc':'slds-is-sorted_desc'">
  <ng-container *ngIf="_vcol.sortable; else elseTemplate">
    <span class="slds-assistive-text">Sort by: </span>
    <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate" (click)="onCkiclicked($event)">
      <span class="slds-truncate" title={{_vcol.label}}>{{_vcol.label}}</span>
      <span class="slds-icon_container slds-icon-utility-arrowdown">
        <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
        </svg>
      </span>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="slds-truncate" title={{_vcol.label}}>{{_vcol.label}}</div>
  </ng-template>
</div>

