<div class="slds-form" role="list">
  <app-v-combobox [voptions]="countries" vlabel="Country" [vvalue]="country" (valuechange)="countryChanged($event)"
  vlabelkey="name" vvaluekey="id" ></app-v-combobox>
  <app-v-combobox [voptions]="cities" vlabel="City" [vvalue]="city" (valuechange)="cityChanged($event)"
          vlabelkey="name" vvaluekey="id" ></app-v-combobox>
  <!-- <div class="slds-form__row">
    <div class="slds-form__item" role="listitem">
      <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
        <label class="slds-form-element__label" for="single-form-element-id-02">Country</label>
        <div class="slds-form-element__control">

          <select  [(ngModel)]="country" (change)="countryChange($event)">
            <option *ngFor="let country of countries" [label]="country?.name" [value]="country?.id">
          </select>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="slds-form__row">
    <div class="slds-form__item" role="listitem">
      <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
        <label class="slds-form-element__label" for="single-form-element-id-02">City</label>
        <div class="slds-form-element__control">
          <select  [(ngModel)]="city" (change)="cityChange($event)" [disabled]="!country">
            <option *ngFor="let city of cities" [label]="city?.name" [value]="city?.id">
          </select>
        </div>
      </div>
    </div>
  </div> -->

</div>

<datalist [id]="countrykey">
  <option *ngFor="let country of countries" [label]="country?.name" [value]="country?.id">
</datalist>
<datalist [id]="citykey">
  <option *ngFor="let city of cities" [label]="city?.name" [value]="city?.id">
</datalist>
