<article class="slds-card">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <!-- <div class="slds-media__body slds-text-align_center">
        <h2 class="slds-card__header-title">
          <a href="#" class="slds-card__header-link slds-truncate slds-text-heading_large"  title="Accounts">
            <span>List of countries ({{countries.length}})</span>
          </a>
        </h2>
      </div> -->
    </header>
    <div class="slds-no-flex">
      <button class="slds-button slds-button_neutral" (click)="openModal=true">New</button>
    </div>
  </div>
  <div class="slds-card__body slds-card__body_inner">
    <div *ngIf="hascountries">
      <app-v-datatable [title]="'List of countries'" [vcolumns]="columns" [vdata]="_countries" (rowClicked)="onCkiclicked($event)"></app-v-datatable>
    </div>
  </div>
</article>


<section *ngIf="openModal" role="dialog" tabindex="-1" aria-modal="true" aria-labelledby="modal-heading-01" class="slds-modal slds-fade-in-open">
  <div class="slds-modal__container">
    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" (click)="doClose()">
      <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
      </svg>
      <span class="slds-assistive-text">Cancel and close</span>
    </button>
    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" [style.height]="'30vh'">
      <app-country-creation  (close)="doClose()"></app-country-creation>
    </div>
  </div>
</section>
<div *ngIf="openModal" class="slds-backdrop slds-backdrop_open" role="presentation"></div>
