<article class="slds-card">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <span class="slds-icon_container slds-icon-standard-account" title="account">
          <!-- <svg class="slds-icon slds-icon_small" aria-hidden="true">
            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
          </svg> -->
          <app-v-icon vclass="slds-icon slds-icon_small" vhref="/assets/icons/utility-sprite/svg/symbols.svg#account"></app-v-icon>

          <span class="slds-assistive-text">account</span>
        </span>
      </div>
      <div class="slds-media__body">
        <h2 class="slds-card__header-title">
          <a href="#" class="slds-card__header-link slds-truncate" title="Accounts">
            <span>transactions</span>
          </a>
        </h2>
      </div>
      <div class="slds-no-flex">
        <button *ngIf="nonemode" class="slds-button slds-button_neutral" (click)="openNew()">New</button>
      </div>
    </header>
  </div>
  <div class="slds-card__body slds-card__body_inner">
    <ng-container *ngIf="newmode; else listview">
      <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center">
        <div class="slds-col">
          <!-- <app-transfert-creation></app-transfert-creation> -->
          new transaction
        </div>
      </div>

    </ng-container>
    <ng-template #listview>
      <app-transaction-list></app-transaction-list>
    </ng-template>

    <div>

    </div>
  </div>

</article>
